:root {
    --base-color: #41B0C9;
    --prime-color: #7159c1;
    --white-color: #f3f6ff;
}

/* --Card-- */

.card {
    max-width: 80rem;
    min-height: 40rem; 
    background: var(--white-color);
    margin: 4.5rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;  
    animation: right 350ms ease;
}

/* ---- MOBILE VERSION -----*/
@media screen and (max-width:425px) {
    .card {
        grid-template-columns: none;
        max-width: calc(100vw - 1rem);
        min-height: 26.25rem;
    }
    .avatar {
        background: none;
        display: none;
    }
    
}


/* --Animations-- */

@keyframes right {
    from {
        opacity: 0;
        transform: translateX(50px)
    }
    to {
        opacity: 1;
    }
}

/* --Details-- */

.details {
    padding: 2.5rem;
}

.details .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: .9rem 0;
}

.details .item:last-child {
    border: none;
}

.details h3,
.details .item div:nth-child(1) {
    font-size: 1.4rem;
    line-height: 2rem;
    color: #777;
    letter-spacing: 0.07rem;
    font-weight: normal;
}

.details .item div:nth-child(2) {
    color: #555;
    font-weight: bold;
    font-size: 1.6rem;
}

.details h3 {
    text-transform: uppercase;
    color: var(--prime-color);
    font-weight: 800;
    font-size: 1.4rem;
    line-height: 2rem;
}

.details .item span {
    padding: 0.4rem 0.8rem;
    background-color: yellow;
    border-radius: 1.6rem;
    color: #777;
    margin-right: 0.2rem;
    margin-top: 0.4rem;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
}

/* Form */

input,
select {
    width: 100%;
    outline: none;
    background: none;
    color: #555;
    font-weight: bold;
    font-size: 1.6rem;
}

input[type='radio']{
    width: initial;
    margin: 0.4rem;
}

input::placeholder {
    font-size: 1.6rem;
    font-weight: normal;
}

button[type="submit"],
a.button {
    padding: 0.8rem 1.6rem;
    background-color: var(--base-color);
    color: white;
    border-radius: 0.4rem;
    margin-top: 2.2rem;
    width: 100%;
    font-size: 1.6rem;
    cursor: pointer;
}

button[type="submit"]:hover,
a.button:hover {
    background-color: #59cfe9;
    transition: background-color 300ms;
}

/* Edit */
a.button {
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

/* Delete Button */
#form-delete button[type='submit'] {
    background-color: lightcoral;
    margin-top: 1.5rem;
}

#form-delete button[type='submit']:hover {
    background-color: rgb(247, 145, 145);
    transition: background-color 300ms;
}