{% extends "layout.njk" %}

{% block head %}
    <title>Start X - English Student</title>
    <link rel='stylesheet' href="/css/student.css">  
{% endblock %}

{% block content %}
    <form class="card" method='POST' action='/students'>

        <section 
        class="avatar"
        style="background: url(https://source.unsplash.com/collection/332741/500x500) no-repeat center center / cover">
        </section>

        <section class="details">
           
           {% include "students/fields.njk" %}

        </section>
        
    </form>
{% endblock %}