@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

:root {
    --base-color: #b48ee8;
    --prime-color: #7159c1;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background: var(--base-color);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #f0c5f3;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.links a {
    font-size: 20px;
    line-height: 26px;
    color: #777;
    text-decoration: none;
    position: relative;
}

.links a + a {
    margin-left: 20px;
}

.links a.active {
    font-weight: bold;
    color: var(--prime-color)
}

.links a:hover {
    color: var(--prime-color);
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--prime-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after {
    width: 100%;
    transition: width 300ms ease-in-out;
}