{% extends "layout.njk" %}

{% block head %}
    <title>Teacher</title>
    <link rel='stylesheet' href="/css/teacher.css">  
{% endblock %}

{% block content %}
    <div class="card" >

        <section 
        class="avatar"
        style="background: url({{ teacher.avatar_url }}) no-repeat center center / cover">
        </section>

        <section class="details">
            <h3>Teacher</h3>

            <div class="item">
                <div>Name</div>
                <div>{{ teacher.name }}</div>
            </div>

            <div class="item">
                <div>Age</div>
                <div>{{ teacher.birth }}</div>
            </div>

            <div class="item">
                <div>Education level</div>
                <div>{{ teacher.education_level }}</div>
            </div>

            <div class="item">
                <div>Class modality</div>
                <div>
                    {% for modality in teacher.class_modality %}
                    <span>{{"Presential" if modality  == "P" else "Remote" }}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="item">
                <div>Subjects</div>
                <div>
                    {% for subject in teacher.subjects %}
                    <span>{{ subject }}</span>
                    {% endfor %}
                </div>
            </div>

             <div class="item">
                <div>Since</div>
                <div>{{ teacher.created_at }}</div>
            </div>

            <a href="/teachers/{{teacher.id}}/edit"  class="button">Edit</a>
        </section>
        
    </div>
{% endblock %}