{% extends "layout.njk" %}

{% block head %}
    <title>Start X - English Teacher</title>
    <link rel='stylesheet' href="/css/index.css">  
{% endblock %}

{% block content %}
    <div class="card table-container">

        <div class="header">
            <a href="/teachers/create" class="newButton">New</a>

            <form action="/teachers" method="GET">
                <input 
                    type="text" 
                    name="filter"
                    placeholder="Filtrar por nome"
                >
                <button type="submit">Filtrar</button>
            </form>
        
        </div>


        <table width="100%">
            <thead>
                <tr>
                    <th>Teachers</th>
                    <th>Subjects</th>
                    <th>Students</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                 {% for teacher in teachers %}
                <tr>
                    <td><span style="background-image: url({{ teacher.avatar_url }})"></span>
                    {{ teacher.name }}</td>
                    
                    <td>
                        {% for subject in teacher.subjects.split(',') %}
                        <span>
                            {{ subject }}
                        </span>
                        {% endfor %}
                    </td>
                    <td>{{ teacher.total_students }}</td>
                    <td><a href="/teachers/{{ teacher.id }}">View</a></td>
                </tr>              
                {% endfor %}
            </tbody>
            
        </table>        
    </div>
{% endblock %}